version: "3.9"

services:
  app:
    image: node-crud-app
    container_name: node-crud-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: node-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
